<div class="min-h-screen flex flex-col items-center justify-center bg-gray-100">
  <div *ngIf="localStorage.getItem('current_business_team')"
       class="absolute top-5 left-5 text-2xl cursor-pointer flex items-center" (click)="goBack()">
    <i class="pi pi-arrow-left mr-2"></i> Back
  </div>
  <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-lg">
    <div class="avatar-container flex" *ngIf="!createMode">
      <div *ngFor="let businessTeam of userBusinessTeams">
        <p-avatar label="{{businessTeam.companyName[0]+businessTeam.companyName[1]+businessTeam.companyName[2]}}" (click)="setTeam(businessTeam)"
                  styleClass="mr-2 ml-2 cursor-pointer" size="xlarge"
                  [style]="{ 'background-color': '#2196F3', color: '#ffffff', width: '4rem', height: '4rem', 'font-size':'1.5rem', padding:'5px' }"></p-avatar>

      </div>
      <p-avatar styleClass="mr-2 ml-2 cursor-pointer" size="xlarge" shape="circle" [pTooltip]="addNewTeamTooltip"
                (click)="setCreateMode()"
                tooltipPosition="bottom"
                [style]="{ 'background-color': '#D3D3D3', color: '#000000', width: '4rem', height: '4rem', 'font-size':'2rem' }">
        <span class="text-base"><i class="pi pi-plus-circle w-4 h-4"></i></span>
      </p-avatar>
    </div>
    <div *ngIf="createMode" class="grid grid-cols-1 md:grid-cols-2 gap-2">

      <div class="flex flex-col items-center mb-4">
        <label for="CVRNumber" class="block text-gray-700 font-bold mb-2"><i class="pi pi-info-circle" [pTooltip]="CVRTooltip" tooltipPosition="top"></i> CVR - Number *</label>
        <input type="number" id="CVRNumber" name="CVRNumber" required [(ngModel)]="formData.CVRNumber" class="w-full px-3 py-2 border rounded-lg shadow-sm">
      </div>

      <div class="flex flex-col items-center mb-4">
        <label for="VATNumber" class="block text-gray-700 font-bold mb-2"><i class="pi pi-info-circle" [pTooltip]="VATTooltip" tooltipPosition="top"></i> VAT - Number *</label>
        <input type="text" id="VATNumber" name="VATNumber" required [(ngModel)]="formData.VATNumber" class="w-full px-3 py-2 border rounded-lg shadow-sm">
      </div>

      <div class="flex flex-col items-center mb-4">
        <label for="companyName" class="block text-gray-700 font-bold mb-2">Company name *</label>
        <input type="text" id="companyName" name="companyName" required [(ngModel)]="formData.companyName" class="w-full px-3 py-2 border rounded-lg shadow-sm">
      </div>

      <div class="flex flex-col items-center mb-4">
        <label for="address" class="block text-gray-700 font-bold mb-2">Address</label>
        <input type="text" id="address" name="address" [(ngModel)]="formData.address" class="w-full px-3 py-2 border rounded-lg shadow-sm">
      </div>

      <div class="flex flex-col items-center mb-4">
        <label for="city" class="block text-gray-700 font-bold mb-2">City</label>
        <input type="text" id="city" name="city" [(ngModel)]="formData.city" class="w-full px-3 py-2 border rounded-lg shadow-sm">
      </div>

      <div class="flex flex-col items-center mb-4">
        <label for="zipCode" class="block text-gray-700 font-bold mb-2">Zipcode</label>
        <input type="number" id="zipCode" name="zipCode" [(ngModel)]="formData.zipCode" class="w-full px-3 py-2 border rounded-lg shadow-sm">
      </div>

      <div class="flex flex-col items-center mb-4">
        <label for="country" class="block text-gray-700 font-bold mb-2">Country</label>
        <input type="text" id="country" name="country" [(ngModel)]="formData.country" class="w-full px-3 py-2 border rounded-lg shadow-sm">
      </div>

      <div class="flex flex-col items-center mb-4">
        <label for="phoneNumber" class="block text-gray-700 font-bold mb-2">Phone number</label>
        <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="formData.phoneNumber" class="w-full px-3 py-2 border rounded-lg shadow-sm">
      </div>

      <div class="flex flex-col items-center mb-4">
        <label for="companyEmail" class="block text-gray-700 font-bold mb-2">Email</label>
        <input type="email" id="companyEmail" name="companyEmail" [(ngModel)]="formData.companyEmail" class="w-full px-3 py-2 border rounded-lg shadow-sm">
      </div>

      <div class="flex flex-col items-center mb-4">
        <label for="website" class="block text-gray-700 font-bold mb-2">Website</label>
        <input type="url" id="website" name="email" [(ngModel)]="formData.website" class="w-full px-3 py-2 border rounded-lg shadow-sm">
      </div>

      <div class="flex flex-col items-center mb-4">
        <label for="regNumber" class="block text-gray-700 font-bold mb-2">Registration number</label>
        <input type="number" id="regNumber" name="regNumber" [(ngModel)]="formData.regNumber" class="w-full px-3 py-2 border rounded-lg shadow-sm">
      </div>

      <div class="flex flex-col items-center mb-4">
        <label for="accNumber" class="block text-gray-700 font-bold mb-2">Account number</label>
        <input type="text" id="accNumber" name="accNumber" [(ngModel)]="formData.accNumber" class="w-full px-3 py-2 border rounded-lg shadow-sm">
      </div>

      <div class="flex flex-col items-center mb-4">
        <label for="bankName" class="block text-gray-700 font-bold mb-2">Bank name</label>
        <input type="text" id="bankName" name="bankName" [(ngModel)]="formData.bankName" class="w-full px-3 py-2 border rounded-lg shadow-sm">
      </div>
      <div class="flex flex-col items-center mb-4">
      </div>

      <div class="flex justify-center mb-4">
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="setCreateMode()">
          <i class="pi pi-times mr-2"></i> Cancel
        </button>
      </div>

      <div class="flex justify-center mb-4">
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
        (click)="onCreateTeam()">
          <i class="pi pi-check mr-2"></i> Create
        </button>
      </div>

    </div>
  </div>
</div>
<ng-template #addNewTeamTooltip>
  <div class="flex align-items-center p-2 rounded-lg">
    <span>
            <b class="text-white">
              Add new Team
            </b>
        </span>
  </div>
</ng-template>
<ng-template #VATTooltip>
  <div class="flex align-items-center p-2 rounded-lg">
    <span>
            <b class="text-white">VAT stands for Value Added Tax. Only those countries with a VAT system will require businesses to have a VAT number.</b>
        </span>
  </div>
</ng-template>
<ng-template #CVRTooltip>
  <div class="flex align-items-center p-2 rounded-lg">
    <span>
            <b class="text-white">A CVR number stands for The Central Business Register and can be compared with your personal CPR number, but instead of 10 digits it has 8. Besides that, they are very comparable.</b>
        </span>
  </div>
</ng-template>
