<div class="flex">
  <!-- Sidebar -->
  <aside *ngIf="showSidebar" class="bg-gray-800 w-64 space-y-6 py-7 px-2 hidden md:block h-screen">
    <nav>
      <a href="/dashboard" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white text-white">Dashboard</a>
      <a href="/dashboard" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white text-white">Sales</a>
      <a href="/dashboard" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white text-white">Accounting</a>
      <a href="/dashboard" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white text-white">Contacts</a>
      <a href="/dashboard" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white text-white" >Tax</a>
    </nav>
  </aside>

  <!-- Main Content -->
  <div class="flex-grow p-5">
    <router-outlet></router-outlet>
  </div>
</div>
