<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<div class="flex justify-items-center mb-4">
  <h1 class="text-2xl font-bold">
    <fa-icon [icon]="faDollarSign"></fa-icon>
    Create Sale
  </h1>
</div>
<hr class="my-4 border-black"/>
<p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
<div class="bg-white shadow-lg rounded-lg p-4 max-w-8xl mx-auto mb-20 mt-10">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2 ">
    <div class="flex flex-col mb-4">
      <h2 class="text-xl font-bold mb-2">{{ 'Invoice number: ' + invoiceNumber }}</h2>
    </div>
    <div class="flex flex-col mb-4">
      <label for="contactId" class="block text-gray-700 font-bold mb-2">Date</label>
      <div class="flex items-center">
        <p-calendar [(ngModel)]="selectedDate" dateFormat="dd/mm/yy" [showIcon]="true" [readonlyInput]="true"></p-calendar>
        <label for="status" class="ml-4 text-gray-700 font-bold mb-2">Status</label>
        <p-dropdown [options]="invoiceStatusOptions" [(ngModel)]="selectedStatus" optionLabel="label" id="status" class="ml-2" placeholder="Select a status" ></p-dropdown>
      </div>
    </div>
    <div class="flex flex-col mb-4">
      <label for="contactId" class="block text-gray-700 font-bold mb-2">Contact</label>
      <p-dropdown [options]="contactOptions" [(ngModel)]="selectedContact" optionLabel="label"
                  optionValue="" id="contactId"
                  [filter]="true" filterBy="label" [showClear]="true"
                  placeholder="Select a contact"
      ></p-dropdown>
    </div>
    <div class="flex flex-col mb-4">
      <label for="invoiceTitle" class="block text-gray-700 font-bold mb-2">Title</label>
      <input type="text" id="invoiceTitle" name="invoiceTitle" [(ngModel)]="invoiceForm.invoiceTitle"
             class="w-full px-3 py-2 border rounded-lg shadow-sm">
    </div>
    <div class="flex flex-col mb-4">
      <label for="invoiceComment" class="block text-gray-700 font-bold mb-2 text-center">Comment</label>
      <textarea id="invoiceComment" name="invoiceComment" [(ngModel)]="invoiceForm.invoiceComment"
                class="w-full px-3 py-2 border rounded-lg shadow-sm" rows="4"></textarea>
    </div>
    <div class="flex flex-col mb-4">
    </div>
  </div>
  <hr class="my-4 border-black mb-3"/>
  <div class="flex justify-between mb-4">
    <h2 class="text-xl font-semibold mb-2">Your products</h2>
    <button pButton type="button" label="Add new product" icon="pi pi-plus" class="p-button-success"
            (click)="showAddProductDialogFunc()"></button>
  </div>
  <p-dialog header="Add product to invoice" [(visible)]="showAddProductDialog" [modal]="true"
            [style]="{ width: '50vw' }"
            [draggable]="false" [resizable]="false">
    <p-pickList [source]="currentProducts" [target]="chosenProducts" sourceHeader="Available" targetHeader="Selected"
                [dragdrop]="true" [responsive]="true" [sourceStyle]="{ height: '30rem' }"
                [targetStyle]="{ height: '30rem' }" filterBy="productName" sourceFilterPlaceholder="Search by name"
                targetFilterPlaceholder="Search by name" breakpoint="1400px"
                [showSourceControls]="false" [showTargetControls]="false" [showSourceFilter]="true"
                [showTargetFilter]="true" [metaKeySelection]="false"
                (onMoveAllToSource)="allChosenToCurrent($event)" (onMoveAllToTarget)="allCurrentToChosen($event)"
                (onMoveToSource)="chosenToCurrent($event)" (onMoveToTarget)="currentToChosen($event)"
    >
      <ng-template let-product pTemplate="item">
        <div class="flex flex-wrap p-2 align-items-center gap-3">
          <div class="flex-1 flex flex-column gap-2">
            <span class="font-bold">{{ product.productName }}</span>
          </div>
          <span class="font-bold text-900">{{ 'DKK ' + product.productPriceExclVAT }}</span>
        </div>
      </ng-template>
    </p-pickList>
  </p-dialog>
  <hr class="my-4 border-black mb-3"/>
  <div class="border rounded-lg shadow-sm" *ngIf="chosenProducts.length > 0">
    <div class="grid grid-cols-4 md:grid-cols-4 gap-4 p-1">
      <div class="flex flex-col mb-4">
      </div>
      <div class="flex flex-col mb-4">
      </div>
      <div class="flex flex-col mb-4 text-center">
        <button pButton type="button" label="Calculate Price" class="p-button-success bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50"
                (click)="calculateTotal()"
        ></button>
      </div>
      <div class="flex flex-col mb-4">
        <button type="button" class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50"
                (click)="removeAllProducts()">
          Remove All Products
        </button>

      </div>
    </div>
    <div class="grid grid-cols-7 gap-7 mb-3" *ngFor="let product of chosenProducts; let i = index"
         [ngClass]="{'even-background': i % 2 === 0, 'odd-background': i % 2 !== 0}">
      <div class="text-center mb-3 mt-3">
        <label class="block font-extrabold mb-2">Product</label>
        <span class="font-semibold">{{ product.productName }}</span>
      </div>
      <div class="text-center mb-3 mt-3">
        <label class="block font-extrabold mb-2">Quantity</label>
        <input type="number" id="quantity" name="quantity"
               min="1" max="{{ product.productAmount }}"
               class="w-full px-3 py-2 border rounded-lg shadow-sm"
               (change)="changeQuantity($event, product)"
        >
      </div>
      <div class="text-center mb-3 mt-3">
        <label class="block font-extrabold mb-2">Unit</label>
        <p-dropdown [options]="unitOptions" optionValue="value" id="productUnit"
                    [showClear]="true" placeholder="Choose a unit" class="text-center"
                    (onChange)="changeUnit($event, product)"
        ></p-dropdown>
      </div>
      <div class="text-center mb-3 mt-3">
        <label class="block font-extrabold mb-2">Unit price</label>
        <span class="font-semibold">{{ product.productPriceExclVAT | currency:'DKK' }}</span>
      </div>
      <div class="text-center mb-3 mt-3">
        <label for="discount" class="block font-extrabold mb-2">Discount</label>
        <input type="number" id="discount" name="unitPrice"
               class="w-full px-3 py-2 border rounded-lg shadow-sm"
               min="0" max="100"
               (change)="changeDiscount($event, product)"
        >
      </div>
      <div class="text-center mb-3 mt-3">
        <label class="block font-extrabold mb-2">Price</label>
        <span class="font-semibold">{{ getDiscountedPrice(product) | currency:'DKK' }}</span>
      </div>
      <div class="text-center mb-3 mt-3 ml-0">
        <label class="block font-extrabold mb-2">&nbsp;</label>
        <button pButton type="button" icon="pi pi-times" class="p-button-danger text-center"
                pTooltip="Remove product from invoice" tooltipPosition="top"
                (click)="removeProductFromInvoice(product)"></button>
      </div>
    </div>
  </div>
  <hr class="my-4 border-black mb-3"/>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2"
       *ngIf="subTotalWithVat !== -1 || vatPrice !== -1 || totalPrice !== -1 || subTotalWithoutVat !== -1">
    <div class="flex flex-col mb-4">
      <h2 class="text-xl font-bold mb-2">Subtotal without VAT</h2>
      <span class="font-semibold">{{ subTotalWithoutVat | currency:'DKK ' }}</span>
    </div>
    <div class="flex flex-col mb-4">
      <h2 class="text-xl font-bold mb-2">Subtotal with VAT</h2>
      <span class="font-semibold">{{ subTotalWithVat | currency:'DKK' }}</span>
    </div>
    <div class="flex flex-col mb-4">
      <h2 class="text-xl font-bold mb-2">VAT</h2>
      <span class="font-semibold">{{ vatPrice | currency:'DKK' }}</span>
    </div>
    <div class="flex flex-col mb-4">
      <h2 class="text-xl font-bold mb-2">Total</h2>
      <span class="font-semibold">{{ totalPrice | currency:'DKK' }}</span>
    </div>
  </div>
</div>
