<div class="flex justify-items-center mb-4">
  <h1 class="text-2xl font-bold">
    <fa-icon [icon]="faDollarSign"></fa-icon>
    Product
  </h1>
</div>
<hr class="my-4 border-black"/>
<p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
<div class="mb-5">
  <h2 class="text-xl font-semibold mb-2">Control your product</h2>
  <p>
    Welcome to your product management dashboard. Here, you have complete control over your registered products. Manage your inventory with ease, <b>add new products</b>, <b>edit existing ones</b>, and <b>connect</b> them seamlessly with your invoices.
  </p>
  <p>
    Keep your product information up-to-date and organized. Monitor stock levels, prices, and product details effortlessly. Enhance your business operations and streamline your sales process with our intuitive product management tools.
  </p>
</div>
<hr class="my-4 border-black-alpha-90 mb-2"/>
<div class="flex justify-between">
  <h2 class="text-xl font-semibold mb-2">Your products</h2>
  <button pButton type="button" label="Add new product" icon="pi pi-plus" class="p-button-success"></button>
</div>
